html {
	position: relative;
	min-height: 100%;
}
body {
	/* Отступ снизу, по высоте футера */
	margin-bottom: 120px !important;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Фиксированная высота футера */
	height: 120px;
	background-color: #f5f5f5;
}

