* {margin: 0; padding: 0;}

body {
  padding: 0em; 
  margin: 0em;
}

html, body {height: 100%;}

/* ----- Hack for IE: no image border: ----- */
img {border:none}

.wrapper {
  min-height: 100%;
}

* html .wrapper { /* хак для ie6 */
  height: 100%; /* для ие6, т.к. не понимает min-height */
}

.site-content {
  margin: 1em;
}

.pusher {
  height: 60px; /* высота нашего подвала */
}

.footer { /* подвал */
  height: 60px; /* высота подвала */
  margin-top: -60px; /* делаем отрицательный отступ по высоте равный высоте подвла, чтобы четко вписаться в размер экрана */
  background-color: #669999;
  background-image: -moz-linear-gradient(#CCFFFF, #669999);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CCFFFF), to(#669999));
  background-image: -webkit-linear-gradient(#CCFFFF, #669999);
  background-image: -o-linear-gradient(#CCFFFF, #669999);
  background-image: -ms-linear-gradient(#CCFFFF, #669999);
  background-image: linear-gradient(#CCFFFF, #669999);
  color: #000066;
  opacity: 0.7;
}


