
.seminars-list {
    width: 100%;
}

.seminars-list>div {
    //background-color: red;
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 5px;

    text-decoration: none;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #464e55;
    cursor: pointer;
}

.seminars-datebegin {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #464e55;
    float: left;
}

.seminars-name {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    float: left;
    color: #464e55;
}

.seminars-setts {
    font-family: 300 15px/14px Conv_SeroPro,Arial,Helvetica,sans-serif;
    font-size: 11px;
    float: right;
    margin-top: 3px;
    padding-right: 10px;
    color: #464e55;
}

.seminars-description {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    float: left;
    color: #464e55;
    clear: both;
    margin-top: 5px;
}

